<html>
<head>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <form action="/authenticate" method="post">
        <h1>Velkommen til LONERS!</h1>
        <h2>Chatforummet for de ægte loners i DK</h2>
        <p>Har du ikke oprettet dig endnu? Tryk på knappen nedenfor</p>
        
        <a id= "myProfile" href="/signup.html">Opret bruger</a>

        <p>Indtast din information nedenfor for at chatte med dine LONER-venner.</p>
        <h2>Log in:</h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <br>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        
        <br> <input type="submit" value="Log in">
    </form>
</body>
</html>

