<html>
<head>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <form action="/signup" method="post">

        <h1>Velkommen til LONERS!</h1>
        <p>Er du en ny loner? Opret dig, for at chatte med dine med-LONERS.</p>
        <p>Sammen kan vi nedbryde ensomheden!</p>
<br>
<br>
        <h2>Opret dig nedenfor:</h2>

        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </div>
        <br>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <br><input type="submit" value="Sign up">
    </form>
</body>
</html>
